.links a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

img {
    width: 500px;
    max-width: 100%;
    height: auto;
}

.shapes {
    margin: 1% 10%;
    font-size: 24px;
    text-align: justify;
    padding-bottom: 5%;
}

.rectangle {
    width: 480px;
    height: 270px;
    background: #1900ff;
}

.ellipse {
    width: 480px;
    height: 270px;
    border-radius: 240px / 135px;
    background: #99004d;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-bottom: 180px solid #d0ff00;
}